.env
config/secrets
config/snmp.yml
certs
backups
*.tar*
ACESSOS*

config/global/credentials.json
config/global/domains.json
config/generated
config/history
config/excluidos/*.json
config/certificates
