MONITOR_HOST=172.16.27.51
VM_NAME=SRV-DUNKER
ACCESS_BIND=0.0.0.0
ACCESS_PORT=8443
SYSLOG_BIND=127.0.0.1
# Gerado localmente; mantenha privado.
INGEST_HASH=

# Organização Grafana que controla as configurações globais
GRAFANA_ORG_ID=1
